In [1]:
import pandas as pd

In [2]:
africa = [
    'DZ', 'AO', 'BJ', 'BW', 'BF', 'BI', 'CM', 'CV', 'CF', 'TD', 'KM', 'CG', 
    'CD', 'CI', 'DJ', 'EG', 'GQ', 'ER', 'SZ', 'ET', 'GA', 'GM', 'GH', 'GN', 
    'GW', 'KE', 'LS', 'LR', 'LY', 'MG', 'MW', 'ML', 'MR', 'MU', 'MA', 'MZ', 
    'NA', 'NE', 'NG', 'RW', 'ST', 'SN', 'SC', 'SL', 'SO', 'ZA', 'SS', 'SD', 
    'TZ', 'TG', 'TN', 'UG', 'ZM', 'ZW', 'EH', 'RE'
]

asia = [
    'AF', 'AM', 'AZ', 'BH', 'BD', 'BT', 'BN', 'KH', 'CN', 'GE', 'HK', 'IN', 
    'ID', 'IR', 'IQ', 'IL', 'JP', 'JO', 'KZ', 'KW', 'KG', 'LA', 'LB', 'MO', 
    'MY', 'MV', 'MN', 'MM', 'NP', 'KP', 'OM', 'PK', 'PS', 'PH', 'QA', 'SA', 
    'SG', 'KR', 'LK', 'SY', 'TW', 'TJ', 'TH', 'TL', 'TR', 'TM', 'AE', 'UZ', 
    'VN', 'YE'
]

europe = [
    'AL', 'AD', 'AT', 'BY', 'BE', 'BA', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 
    'FI', 'FO', 'FR', 'DE', 'GI', 'GL', 'GR', 'HU', 'IS', 'IE', 'IT', 'XK', 
    'LV', 'LI', 'LT', 'LU', 'MT', 'MD', 'MC', 'ME', 'NL', 'MK', 'NO', 'PL', 
    'PT', 'RO', 'RU', 'SM', 'RS', 'SK', 'SI', 'ES', 'SE', 'CH', 'UA', 'GB', 
    'VA'
]

north_america = [
    'AG', 'AW', 'BM', 'BS', 'BB', 'BZ', 'CA', 'CR', 'CU', 'CW', 'DM', 'DO', 
    'GP', 'SV', 'GD', 'GT', 'HT', 'HN', 'JM', 'MQ', 'MS', 'MX', 'NI', 'PA', 
    'PM', 'PR', 'KN', 'LC', 'VC', 'TT', 'TC', 'US', 'VG', 'VI'
]

south_america = [
    'AR', 'BO', 'BR', 'CL', 'CO', 'EC', 'GY', 'PY', 'PE', 'SR', 'UY', 'VE', 'GF'
]

oceania = [
    'AU', 'AS', 'NZ', 'PG', 'FJ', 'SB', 'VU', 'WS', 'KI', 'TO', 'NR', 'NC', 'GU', 
    'CK', 'PF'
]

In [3]:
iso_codes = [] 
continents = [] 

for iso in africa:
    iso_codes.append(iso) 
    continents.append('Africa')

for iso in asia:
    iso_codes.append(iso) 
    continents.append('Asia')  

for iso in europe:
    iso_codes.append(iso) 
    continents.append('Europe') 

for iso in north_america:
    iso_codes.append(iso) 
    continents.append('North America') 

for iso in south_america:
    iso_codes.append(iso) 
    continents.append('South America') 

for iso in oceania:
    iso_codes.append(iso) 
    continents.append('Oceania')

In [4]:
df_continents = pd.DataFrame({
    'ISO' : iso_codes, 
    'Continents': continents
})

In [5]:
africa_data = df_continents.loc[df_continents['Continents'] == 'Africa']

In [6]:
africa_data.nunique()

ISO           56
Continents     1
dtype: int64

In [7]:
asia_data = df_continents.loc[df_continents['Continents'] == 'Asia']

In [8]:
asia_data.nunique()

ISO           50
Continents     1
dtype: int64

In [9]:
europe_data = df_continents.loc[df_continents['Continents'] == 'Europe']

In [10]:
europe_data.nunique()

ISO           49
Continents     1
dtype: int64

In [11]:
north_america_data = df_continents.loc[df_continents['Continents'] == 'North America']

In [12]:
north_america_data.nunique()

ISO           34
Continents     1
dtype: int64

In [13]:
south_america_data = df_continents.loc[df_continents['Continents'] == 'South America']

In [14]:
south_america_data.nunique()

ISO           13
Continents     1
dtype: int64

In [15]:
oceania_data = df_continents.loc[df_continents['Continents'] == 'Oceania']

In [16]:
oceania_data.nunique()

ISO           15
Continents     1
dtype: int64

In [17]:
df_continents.to_csv('continents.csv', index=False)